* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  width: 100%s;
  height: auto;
  background-color: white;
}

.nav-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.left-side li,
.right-side li {
  display: inline-block;
}

.left-side li a,
.right-side li a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  color: grey;
  padding: 14px 16px;
}

.left-side li a:hover,
.right-side li a:hover {
  background-color: #dddd;
}

.secondary-menu {
  background-color: #080808;
  width: 100%;
  height: auto;
  color: white;
  font-size: 20px;
  display: inline-block;
  padding: 8px 80px;
  font-weight: 200;
}

main {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin: 36px auto 0 auto;
  max-width: 1280px;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 26px;
}

section > p {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: max-content;
  gap: 16px;
}

.item {
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.item img {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.title + p {
  font-size: 16px;
}

@media (max-width: 1080px) {
  .items-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}

@media (max-width: 748px) {
  .items-container {
    grid-template-columns: 1fr;
  }
}

.menu-container {
  justify-content: space-between;
}

.menu-container > div {
  width: auto;
}

.menu {
  display: none;
}

.hamburger {
  display: block;
  width: 20px;
  height: 20px;
}
